:root {
  --primary-color: linear-gradient(135deg, #a1ffab, #00a656);
  --secondary-color: linear-gradient(135deg, #ffadb0, #a64b57);
  --done-color: linear-gradient(135deg, #00a656, #a1ffab)

}

.App {
  text-align: center;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  background-repeat: no-repeat;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  font-family: 'Lato', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  color: #cfffff;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

legend {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #006994;
  box-shadow:rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
input {
  height: 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border-color: #006994;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.form-group > button {
  height: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  color: #006994;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: var(--secondary-color);
  color: #006994;
  font-weight: bold;
  font-size: 18px;
}

.btn > button {
  margin: 10px;
  height: 2.5rem;
  width: 7rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #cfffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
}

.done {
  background: var(--done-color);

}
.btn > .btn-del {
  background: linear-gradient(135deg, #FF4B4B, #AA0114);
}
.btn > .btn-done {
  background: linear-gradient(135deg, #56ab2f, #a8e063);
}
.btn > .btn-done:hover {
  background: linear-gradient(135deg, #a8e063, #56ab2f);
}
.btn > btn-delv:hover {
  background: linear-gradient(135deg, #AA0114, #FF4B4B);
}

@media (max-width: 768px) {
  body {
    width: 100vw;
  }
  li {
    display: flex;
    flex-direction: column;
  }
  .btn > button {
    width: 5rem;
  }
}
